*{
	margin: 0;
	padding: 0;
}
body{
	background-color: pink;
}
h1, h2, h3, h4, h5, h6, p{
	color: white;
	padding: 0;
	margin: 0;
}


/*************************NAV BAR*************************/
.navbar{
	margin: 0;
	background-color: white;
	padding: 25px 0;
}
.navbar-default .navbar-nav>li>a{
	color: black;
}
.navbar-brand{
	display: flex;
	align-items: center;
}




/******************************HERO****************************/
.hero{
	background-image: url(../img/taxi.jpg);
	background-position: bottom;
	background-size: cover;
	height: 100vh;

}
.col-registrate{
	padding: 0;
}
.registrate{
	background-color: #f7b617; /*amarillo*/
	margin: 20vh 0;
	padding: 30px;
}

.registrate h4{
	display: inline-block;
	padding: 5px;
	margin: 15px 0;
}
.registrate h4>img{
	display: inline-block;
	width: 126px;
}
p#reg{
	margin-bottom: 20px;
}
.registrate .div-registro{
	display: flex;
	flex-direction: row;
}
.registrate .div-registro p{
	margin: 0 30px;
}
.registrate .div-registro input{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid white;
	width: 30%;
}
.registrate button{
	border: none;
	padding: 5px 20px;
	margin: 20px 0 0 0;
	background-color: white;
	border-radius: 4px;
	font-weight: bold;
}

/***************************INFORMACION******************************/
.informacion{
	background-color: #f7b617; /*amarillo*/
	
}
.info-marco{
	border: 1px solid white;
	margin: 5vh 0;
}
.informacion p{
	font-size: 18px;
	padding: 10px 0;
}
.informacion img{
	width: 70%;
	margin: 0 auto;
	padding: 5vh;

}
.info-text{
	width: 70%;
	padding: 10vh 0;
}
.informacion h1, .informacion h3{
	text-align: center;
	padding: 5vh 0;
}

@media (max-width: 992px) { 
	.info-marco{
		margin: 20px;
	}
}


/**************************CONDUCE*********************************/
.conduce{
	background-image: url(../img/conduce.jpg);
	background-position: center;
	background-size: cover;
	height: 55vh;
	padding: 0;
}
.conduce-col{
	background-color: rgba(0,0,0, 0.5);
	padding: 12vh 35px;
	height: 100%;
}
.conduce-col h3{
    margin: 10px 0;
}
.conduce button{
	background-color: #f7b617; /*amarillo*/
	color: white;
	border: none;
	border-radius: 4px;
	padding: 10px 15px;
	margin: 15px 0;
	font-weight: bold;
	font-size: 16px;
}

/******************************TARIFA*******************************/
.tarifa{
	background-color: #f7b617; /*amarillo*/
}

/********************************FOOTER************************/
.footer-fluid{
	background-color: #2b2b2b; /*gris oscuro*/
}
footer{
	background-color: #2b2b2b; /*gris oscuro*/
}
footer a, footer i{
	color: white;
}
footer ul{
    list-style:none;
}
footer ul>li{
	font-size: 14px;
	padding: 5px;

}
.footer-logo{
	padding: 30px;
	border-bottom: 1px solid white;
}
.links-row{
	padding: 20px;
	border-bottom: 1px solid white;
	display: table;
	width: 102%;
}
.fin-row{
	padding: 20px;
	text-align: center;
}

.links-row [class*="col-"]{
	float: none;
    display: table-cell;
    vertical-align: bottom;
}
.store-footer img{
	width: 50%;
	margin-top: 20px;
}
@media (max-width: 992px) { 
	.links-row [class*="col-"]{
		display: inline;
	}
}
